@using OnlineShop.Application.Services.Sliders.Queries.DetailSlider
@model DetailSliderDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <span class="tag">@Model.Link</span>
</div>

